/* DEFAULTS
----------------------------------------------------------*/

body
{
	font-family: 'Curlz MT';
	font-size: 18px;
	padding: 0px;
	color: #696969;
	background-color: #292A6A;
}

a:link, a:visited
{
    color: #212040;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}


/* HEADINGS   
----------------------------------------------------------*/

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* MAIN
----------------------------------------------------------*/
#Header
{
	text-align: center;
	background: #292A6A;
	padding: 10px;
	width: 1211px;
	margin-left: 189px;
}
#Menus
{
	margin: -12px 0px 0px 189px;
	vertical-align: middle;
	background-color: #8285C1;
	width: 1211px;
	color: #212040;
	height: 30px;
}
ul.horizontal_list li
{
	display: inline;
	padding: 0px 20px 10px 30px;
	background: url('../Images/bullet.jpg') no-repeat;
	list-style-image: url('../Images/bullet.jpg');
	vertical-align: middle;
}
#Main
{
	height: 550px;
	background: url('../Images/background.jpg') repeat-y;
}
#Footer
{
	text-align: center;
	background: #292A6A;
	color: White;
	padding: 10px;
	width: 1211px;
	margin-left: 189px;
}
.margin
{
	margin-left: 189px;
}
/* SLIDER
----------------------------------------------------------*/
#page-wrap						{ background: white; width: 960px; margin: 0 auto; padding: 20px 0; }
#slider							{ background: white; height: 450px; overflow: hidden; position: relative; margin: 20px 0; }
								  
                                /* DEFAULT is for three panels in width, adjust as needed
                                   This only matters if JS is OFF, otherwise JS sets this. */								  
#mover							{ width: 2880px; position: relative; }

.slide							{ padding: 40px 30px; width: 900px; float: left; position: relative; }
.slide h1						{ font-size: 30px; letter-spacing: -1px; color: #ac0000; }
.slide p						{ color: #999; font-size: 12px; line-height: 22px; width: 100px; }
.slide img						{ position: absolute; top: 20px; left: 200px; }
#slider-stopper					{ position: absolute; top: 1px; right: 20px; background: white; color: white;
								  padding: 3px 8px; font-size: 10px; text-transform: uppercase; z-index: 1000; }